{% extends 'nav.html' %}{% load static %}
{% block content %}
<section id="ability">
    <div class="bagian3 box">
        <div class="img-container">
            <div class="over-layer">
                <div>
                    <div class="judul">
                        <h1>All my skill..</h1>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row  my-row">
                                    <div class="col-lg-3 my-col center-element-box">
                                        <img src='{% static "img/python_icon.png" %}' alt="">
                                    </div>
                                    <div class="col-lg-8 my-col center-bar-box"> 
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-animated progress-bar-striped bg-python" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  my-row">
                                    <div class="col-lg-3 my-col center-element-box">
                                        <img src='{% static "img/java-icon.png" %}' alt="">
                                    </div>
                                    <div class="col-lg-8 my-col"> 
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-animated progress-bar-striped bg-java" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  my-row">
                                    <div class="col-lg-3 my-col center-element-box">
                                        <img src='{% static "img/html5css31-800x640.png" %}' alt="">
                                    </div>
                                    <div class="col-lg-8 my-col"> 
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-animated progress-bar-striped bg-java" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 border-row">
                                <div class="container bg-dark-50">
                                    <div class="row my-row justify-content-center">
                                        <div class="col-lg-8 my-col center-element-box judul-desk-cell">
                                            <h2>Description..</h2>
                                        </div>
                                    </div>
                                    <div class="row my-row justify-content-center">
                                        <div class="col-lg-8 my-col center-element-box isi-desk-cell">
                                            <h4>My ability is now based on what I have learned during lectures to date. So it is possible for new capabilities to increase. Of course other abilities might increase in the future</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}