{% extends 'nav.html' %}{% load static %}
{% block content %}
<section id="contact">
    <div class="bagian4 box">
        <div class="container-fluid">
            <div class="row bg-oren">
                <div class="col-lg-6 my-col bg-oren">
                    <div class="container">
                        <div class="row my-row judul">
                            <div class="col-lg-12 my-col judul-contact-cell">
                                <h1>CONTACT</h1>
                            </div>
                        </div>
                        <div class="row my-row justify-content-center contact-icon">
                            <div class="col-lg-2 my-col contact-item">
                                <a href="http://line.me/ti/p/~seanurian2" target="_blank"><img class="" src="{% static  'img/Line-Icon.png' %}" alt=""></a>
                            </div>
                            <div class="col-lg-2 my-col contact-item">
                                <a href="https://www.linkedin.com/in/sean-zeliq-urian-225a11184/" target="_blank"><img class="" src='{% static "img/Linkedin-icon.png" %}' alt=""></a>
                            </div>
                            <div class="col-lg-2 my-col contact-item">
                                <a href="https://www.instagram.com/hedass/?hl=id" target="_blank"><img class="" src='{% static "img/Instagram-icon.png" %}' alt=""></a>
                            </div>
                            <div class="col-lg-2 my-col contact-item">
                                <a href="mailto: seanurian@gmail.com"><img class="" src='{% static "img/email-icon.png" %}' alt=""></a>
                            </div>
                        </div>
                        <div class="row my-row justify-content-center">
                            <div class="col-lg-8 my-col">
                                <a class=" tombol-saran" href="saran/" target="_parent"><h1>Send me suggestion</h1></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 my-col bg-cream foto profil-cell">
                    <a href="#contact"><img src='{% static "img/Facebook_UI-31-512.png" %}' alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}
