{% extends 'nav.html' %}{% load static %}
{% block content %}
<section id="experience">
    <div class="bagian5 box">
        <div class="bg-biru">
            <div class="judul"> 
                <h1>My Experience...</h1>
            </div>
            <div class="container-fluid">
                <div class="row my-row">
                    <div class="col-lg-6 my-col center">
                        <div class="container">
                            <div class="row my-row">
                                <div class="col-lg-12 my-col center">
                                    <img src='{% static "img/PMe9AKat_400x400.png" %}'alt="">
                                </div>
                            </div>
                            <div class="row my-row">
                                <div class="col-lg-12 my-col center">
                                    <h2><strong>Fuki Fasilkom UI</strong></h2>
                                    <small>Staff Quran</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 my-col center">
                        <div class="container">
                            <div class="row my-row">
                                <div class="col-lg-12 my-col center">
                                    <img src='{% static "img/uJmkhbJS.jpg" %}'alt="">
                                </div>
                            </div>
                            <div class="row my-row">
                                <div class="col-lg-12 my-col center">
                                    <h2><strong>BMUI 2019</strong></h2>
                                    <small>Staff HRD</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-row justify-content-center">
                    <div class="col-lg-8 my-col center">
                        <div class="container">
                            <div class="row my-row">
                                <div class="col-lg-12 my-col center">
                                    <img src='{% static "img/download.png" %}'alt="">
                                </div>
                            </div>
                            <div class="row my-row">
                                <div class="col-lg-12 my-col center">
                                    <h2><strong>Samaba 2019</strong></h2>
                                    <small>Divisi Email</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}
