{% extends 'nav.html' %}
{% load static %}

    {% block content %}
        <style>
            .box {
                background-image: url('{% static "mockup-863469_1920.jpg" %}');
            }
        </style>
        <section  id="intro">
            <div class="bagian1 box" id="header">
                <div class="img-container">
                    <div class="konten-header warna">
                        <div>
                            <!-- <div> -->
                                <h1>Hello there!, Welcome to my page </h1>
                                <h2 class="jarak">I'm </h2>
                                <h2> Sean Zeliq Urian</h2>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock%}
