{% extends 'nav.html' %}{% load static %}
{% block content %}

<link rel="stylesheet" type='text/css' href="{% static 'admin/css/forms.css' %}">

<div class="schedule">
    <div class="fit">
        <div class="container-fluid min-height">
            <div class="row my-row">
                <form action="/schedule/" method="post" class="">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6 mb-4">
                        {{ form.Activity.label}}
                        {{ form.Activity}}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        {{ form.Category.label}}
                        {{ form.Category}}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-4">
                        {{ form.Place.label}}
                        {{ form.Place}}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-row" style="width: 90vw; align-items: center; justify-content: center;">
                    <div class="col-md-6 mb-4">
                        {{ form.Time.label}}
                        {{ form.Time}}
                    </div>
                    <div class="col-md-6 mb-4">
                        {{ form.Date.label}}
                        {{ form.Date}}
                    </div>
                </div>
                <div>
                    <input type="submit" value="Save" />
                    </form>
            </div>
                <div class="container-fluid min-height"> 
                    <div class="row my-row">
                    {% for ea in liss %}
                        <div class="col-lg-4 my-col">
                            <h1>{{ ea.Activity }} <span class="h4 text-muted">{{ ea.Category }}</span></h1>
                            <h3 class="h3"> {{ ea.Place }} </h3>
                            <p>  {{ ea.Time }} {{ ea.Date|date:'D d-m-Y'}} </p>
                            
                            <form method="POST" action="/schedule/">
                                {% csrf_token %}
                                <input name="id" value="{{ea.id}}" type="hidden">
                                <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock%}

{% block js %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<script>
    $('#Date').attr('value', "{% now 'Y-m-d' %}")
    $('#Time').attr('value', "{% load tz %}{% timezone 'Asia/Jakarta' %}{% now 'H:i:s' %}{% endtimezone %}")
    // $('#Date').keyup(function() {
    //     var date_regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/ ;
    //     if(!(date_regex.test(form.Date)))
    //     {
    //         $("#Date").
    //     }

    // }) 
</script>
{% endblock %}



