{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">

        <link rel="icon" href="http://2.bp.blogspot.com/-A79MAddtuVU/T9DqAvdtCcI/AAAAAAAAA6o/laGYTOxIIZM/s1600/fasilkom.png">

        <!-- <script src="{% static 'js/function.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script> -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <title>Sean's Biografi</title>
        <header>
            <div class="pos-f-t atasan fixed-top" >
                <nav class="navbar navbar-light bg-light border">
                    <nav class="navbar navbar-light">
                        <a class="navbar-brand" href="/">
                            <img src= '{% static "img/output-onlinepngtools.png" %}' width="30" height="30" class="d-inline-block align-top" alt="">
                            Sean's Profile
                        </a>
                    </nav>
                    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="p-4 bg-light">
                        <ul class="navbar-nav list-unstyled">
                            <li class="nav-item "><a class="h5 nav-link warna" href="/aboutme">About me</a></li>
                            <li class="nav-item "><a class="h5 nav-link warna" href="/ability">Ability</a></li>
                            <li class="nav-item "><a class="h5 nav-link warna" href="/experience">Experience</a></li>
                            <li class="nav-item "><a class="h5 nav-link warna" href="/contact">Contact</a></li>
                            <li class="nav-item "><a class="h5 nav-link warna" href="/schedule">My Schedule</a></li>
                            <li class="nav-item "><a class="h5 nav-link warna" href="https://drive.google.com/open?id=11f5TUrM2RAANbJlTzkiPevDpwtzcOyns" target="_blank">Hire Me!!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </head>
    <body>
        {% block content %}
        {% endblock%}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block js %}
        {% endblock%}
        <div class="copyright">
            <small>&copy; Copyright 2019, Sean Zeliq Urian</small>
        </div>
    </footer>

    <script>
        $('.collapse a').click(function(){
            $(".collapse").collapse('hide');
        });
        $('.navbar-brand').click(function(){
            $(".collapse").collapse('hide');
        });
        $('html').click(function(){
            $(".collapse").collapse('hide');
        });
    </script>

        <style>
        .bagian3 .img-container {
            background-image: url('{% static "img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg" %}');
        }

        .bagian1 .img-container {
            background-image: url('{% static "img/mockup-863469_1920.jpg" %}');
        }
        </style>
</html>